{% extends "ticket/base.html" %}
{% block title %}My Tickets{% endblock %}
{% block content %}

<div class="container border border-2 min-vh-100 p-4">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <div class="container-fluid">
                    <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown"
                        aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse"
                        id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDarkDropdownMenuLink"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    All Tickets
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item"
                                            href="/">All Tickets</a></li>
                                    <li><a class="dropdown-item"
                                            href="{% url 'ticket:ticket-open' %}">Opened/Pending</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{% url 'ticket:ticket-closed' %}">Closed/Resolved</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container my-3">
                {% if page_obj %}
                <div class="mb-2">
                    {% include "ticket/pagination.html" %}
                </div>
                {% endif %}
                {% for ticket in object_list %}
                <a class="text-decoration-none text-dark"
                    href="{{ ticket.get_absolute_url }}">
                    <div class="container">
                        <div class="border border-2 my-2 p-3 rounded-3">
                            <p class="text-primary">
                                #{{ ticket.pk }} - {{ ticket.subject }}
                            </p>
                            <p class="">
                                {{ ticket.body|truncatewords:30|linebreaks }}
                            </p>
                            <p class="small text-muted"> opened
                                {{ ticket.created }} by
                                {{ ticket.created_by }}</p>
                        </div>
                    </div>
                </a>
                {% empty %}
                <div class="container text-center">
                    <p>You have no tickets.</p>
                </div>

                {% endfor %}
                {% if page_obj %}
                <div class="mb-2">
                    {% include "ticket/pagination.html" %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 border border-2 rounded-3 p-3">
            <div class="d-grid gap-2">
                <a class="btn btn-sm px-5 btn-primary"
                    href="{% url 'ticket:ticket-create' %}">New Ticket</a>
            </div>

        </div>
    </div>


</div>

{% endblock %}