{% extends "ticket/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<p class="small text-muted">
    Published {{ object.publish }} by {{ object.author }}
</p>
<h1 class="small">{{ object.title }}</h1>

{{ object.body|linebreaks }}

{% with comments.count as total_comments %}
<h2 class="small">
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2 class="small">Add a new comment</h2>
<form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input type="submit" class="btn btn-sm btn-outline-primary my-4 "
            value="Add comment"></p>
</form>
{% endif %}
{% endblock %}